.big__button {
  width: 8.6rem;
  border-radius: 0;
  font-size: x-large;
  border: 0.5px solid rgb(147, 147, 147);
}

.norm__button {
  width: 4.3rem;
  border-radius: 0;
  font-size:x-large;
  border: 0.5px solid rgb(147, 147, 147);
}

.bottom__left {
  border-radius: 0 0 0 7px;
}
.bottom__right {
  border-radius: 0 0 7px 0;
}

.num__input {
  height: 3.5rem;
}